# Database connection string (SQLite for local dev, PostgreSQL for production)
DATABASE_URL="file:./dev.db"

# Server Port
PORT=4000

# Auth Secrets
JWT_SECRET="pitchxi_jwt_super_secret_dev_key_2024"
JWT_REFRESH_SECRET="pitchxi_refresh_super_secret_dev_key_2024"

# Environment
NODE_ENV="development"
